.Container {
  background-color: var(--bg-primary);
  height: 100vh;
  width: 100%;
  border-left: 2px solid var(--bg-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    display: flex;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    gap: 1rem;
    background-color: var(--bg-secondary);
    align-items: center;
    justify-content: space-between;

    .Usuario {
      display: flex;
      gap: 1rem;
      align-items: center;

      img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .Sair {
      padding-right: 1rem;
      cursor: pointer;
    }
  }

  .Input {
    background-color: var(--bg-secondary);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    input {
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.1rem 0.5rem;
      outline: none;
      border: 2px solid transparent;

      &:hover,
      &:focus {
        border: 2px solid var(--green);
      }
    }

    svg {
      position: absolute;
      right: 1.2rem;
      color: #000;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }

  .Chat {
    display: flex;
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    margin-bottom: 8px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      width: 100%;

      li {
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 100%;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .UserName {
          font-size: 0.6rem;
          margin-bottom: 12px;
          font-weight: bold;
        }

        .UserSecondaryDiv {
          display: flex;
          background-color: var(--bg-secondary);
          align-items: center;
          gap: 0.5rem;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
        }

        .UserHostDiv {
          background-color: var(--green);
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          align-self: flex-end;
        }
      }
      .UserSecondary {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
